# Dictionary Example

In [ ]:
student = {"name": "Rahul", "age": 21}
print(student)